.status-block{
	padding: 10px;
	margin-right: 10px;
}

.status-block.closed{
	color: white;
    background-color: #f44336;
}

.status-block.open{
	color: white;
    background-color: #4caf50;
}

.status-block.not-found{
	color: white;
    background-color: #ffc107;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

tr.active.open{
	background-color: rgba(76,175,80,.7);
}
tr.active.closed{
	background-color: rgba(244,67,54,.7);
}